<%= form_with(model: recipez, local: true) do |form| %>
  <% if recipez.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipez.errors.count, "error") %> prohibited this recipez from being saved:</h2>

      <ul>
      <% recipez.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :recipez_title %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.text_field :region, id: :recipez_region %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
