
<h1>List Recipes</h1>

<% if @recipezs.blank? %>
  <p style = "color:red"> Recipe not found </p>

<% else %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Region</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @recipezs.each do |recipez| %>
          <tr>
            <td><%= recipez.title %></td>
            <td><%= recipez.region %></td>
            <% if user_signed_in? %>
              <td><%= link_to 'Show', recipez %></td>
              <td><%= link_to 'Edit', edit_recipez_path(recipez) %></td>
              <td><%= link_to 'Destroy', recipez, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<br>
<% end %>

<%= link_to 'New Recipe', new_recipez_path %>
<br>
<hr />


<h1>Search</h1>

<%= form_with(model: @recipez, method: 'get', local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, :value => params[:title], placeholder: 'Search Title' %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.text_field :region, :value => params[:region], placeholder: 'Search Region' %>
  </div>

  <div class="actions">
    <%= form.submit "Search", :name=>nil %>
  </div>
<% end %>
