<!DOCTYPE html>
<html>
  <head>
    <title>Recipe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
  </head>

  <body>
    <!-- Header -->
    <div class = "jumbotron">
      <div class = "container">
        <h1>Website of Recipe</h1>
        <p>This website contains recipe, and stuff</p>
      </div>
    </div>


    


    <div class = "container">
    <span class = "pull-right">
      <% if user_signed_in? %>
        <%= link_to "Users |", users_path if current_user.admin? %>
        <%= link_to('Edit profile', edit_user_registration_path)  %> </ul> |
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
      <% else %>
          <%= link_to('Sign-In', new_user_session_path)  %> </ul> |
          <%= link_to('New User?', new_user_registration_path)  %> </ul>
        
      <% end %>
    </span>

      <p id="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>


      <%= yield %>
    </div>
  </body>
</html>
